.App {
  text-align: center;
}

:root {
  --white-color: #ffff;
  --secondary : #212122be;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav layouts */

nav {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
   height: 300px;
   background-color: rgba(20, 13, 117, 0.87);
  }
.logo {
  width: 50px;
  height: 50px;
  align-self: center;
}

nav ul {
  list-style-type: none;
  color:var(--white-color);
  display: flex;

}

nav ul li {
  margin: 5px;
}

.slogan {
  color:white;
  font-size: 2rem;
}

.nav-brand {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.main {
  display: grid;
  grid-template-columns: 1 1fr;
  height: 400px;
  background-color: burlywood;

}

.card {
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  overflow: visible;
  border-radius: 9px;
  width: 80%;
  margin: 10px;
  padding: 0;

}
.card div {
  margin: 10px;
}

.card-body {
  padding:30px;
}

.card-body div {
  margin-top: 6px;
}


.card-category {
  color: var(--secondary) ;
  padding: 5px;
}

.card-title {
  font-size: 2rem;
  margin:4px;
}

.card-content {
  font-size: 1.2rem;
}

.footer-logo {
  width:20px;
  height: 20px;
}

.card-footer {
  display: flex;
  gap:3px;
  flex-direction: row;
  flex-grow: initial;
  align-self: center;
  margin-top:10px;
  align-content: space-between;
  
}

.footer-timer {
  color: var(--secondary);
}


.blog-image {
  width: 600px;
  height: 350px;
  margin: 0;
  border-radius: 3px;

}



