.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav layouts */

nav {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
   height: 300px;
   background-color: rgba(20, 13, 117, 0.87);
  }
.logo {
  width: 50px;
  height: 50px;
  align-self: center;
}

nav ul {
  list-style-type: none;
  color: #ffff;
  display: flex;

}

nav ul li {
  margin: 5px;
}

.slogan {
  color:white;
  font-size: 2rem;
}

.nav-brand {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap:20px;

}

.main {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 400px;
  background-color: burlywood;

}

.card {
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  overflow: visible;
  border-radius: 4px;
  width: 80%;
  margin: 10px;
  padding: 0;

}
.card div {
  margin: 3px;
}

.card-body {
  padding:40px;
}

.card-body div {
  margin-top: 4px;
}


.card-category {
  color: #212122be;
}

.card-title {
  font-size: 2rem;
}

.card-content {
  font-size: 1.2rem;
}

.blog-image {
  width: 600px;
  height: auto;
  margin: 0;

}

