* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

:root {
  --white-color: #ffff;
  --secondary : #212122be;
  --nav-color:rgba(20, 13, 117);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav layouts */

.container {
}

nav {
   display: flex;
   overflow: visible;
   flex-direction: column;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 350px;
   background-color: var(--nav-color);
  }




.logo {
  width: 50px;
  height: 50px;
  align-self: center;
}

nav ul {
  list-style-type: none;
  color:var(--white-color);
  display: flex;

}

nav ul li {
  margin: 5px;
  gap:40px;
}

.slogan {
  color:white;
  font-size: 1.5rem;
}

.nav-brand {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-self:center;
  gap:40px;

}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap:15px;

}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;

}

.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Every thing cards */
.card {
  background-color: var(--white-color);
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: visible;
  border-radius: 9px;
  width: 80%;
  margin: 10px;
  padding: 0;
  cursor: pointer;
  z-index: 0;
  transition: 0.6s;
  align-self: center;
}

.card:hover {
  transform: scale(1.01);
  z-index: 0;
}

.card-body {
  height: auto;
  margin: 30px;
  gap:20px;

}


.card-category {
  color: var(--secondary) ;
}

.card-title {
  font-size: 2rem;

}

.card-content {
  font-size: 1.0rem;
  color: rgb(51, 48, 48);
  line-height: 25px;
}



.card-footer {
  display: flex;
  flex-direction: row;
  gap:254px;
  flex-grow: 1;
  margin-top:10px;
}

.footer-timer {
  color: var(--secondary);
  align-self: flex-end;
  font-size: 0.6rem;
}

.footer-logo {
  width:20px;
  height: 20px;
}


.blog-image {
  width: 600px;
  height: 300px;
  margin: 0;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;

  object-fit: cover;

}

/* end of card */

/* begining of card 2 */
.card2 {
  background-color: var(--white-color);
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: visible;
  border-radius: 9px;
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 0;
  cursor: pointer;
  z-index: 0;
  transition: 0.6s;
  align-self: center;
}

.card2:hover {
  transform: scale(1.01);
  z-index: 0;
}

.card2-body {
  height: auto;
  margin: 30px;
  gap:20px;

}


.card2-category {
  color: var(--secondary) ;
}

.card2-title {
  font-size: 2rem;

}

.card2-content {
  font-size: 1.0rem;
  color: rgb(51, 48, 48);
  line-height: 25px;
}



.card2-footer {
  display: flex;
  flex-direction: row;
  gap:254px;
  flex-grow: 1;
  margin-top:10px;
}

.footer2-timer {
  color: var(--secondary);
  align-self: flex-end;
  font-size: 0.6rem;
}

.footer2-logo {
  width:20px;
  height: 20px;
}


.blog2-image {
  width:200px;
  height: 200px;
  margin: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;

  object-fit: cover;

}

/* end of card 2 */

.flex-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  height: 400px;
  background-color:var(--nav-color);
}



/* Margin and padding styles */

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
  
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 2.5rem;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding: 2rem;
}

.p-4{
  padding: 2.5rem;
  
}

.my-1{
  margin-top:1rem;
  margin-bottom: 1rem;
}


.my-2{
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
}

.my-3{
  margin-top:2rem;
  margin-bottom: 2rem;
}

.my-4{
  margin-top:2.5rem;
  margin-bottom: 2.5rem;
}

.mx-1{
  margin-left:1rem;
  margin-right: 1rem;
}

.mx-2{
  margin-left:1.5rem;
  margin-right: 1.5rem;
}

.mx-3{
  margin-left:2rem;
  margin-right: 2rem;
}

.mx-4{
  margin-left:2.5rem;
  margin-right: 2.5rem;
}

.py-1{
  padding-top:1rem;
  padding-bottom: 1rem;
}


.py-2{
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
}

.py-3{
  padding-top:2rem;
  padding-bottom: 2rem;
}

.py-4{
  padding-top:2.5rem;
  padding-bottom: 2.5rem;
}

.px-1{
  margin-left:1rem;
  margin-right: 1rem;
}

.px-2{
  padding-left:1.5rem;
  padding-right: 1.5rem;
}

.px-3{
  padding-left:2rem;
  padding-right: 2rem;
}

.px-4{
  padding-left:2.5rem;
  padding-right: 2.5rem;
}

.py-small{
  margin-top:.5rem;
  margin-bottom:.5rem;

}
